<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marketplace</title>
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <style>
        body, html {
            margin: 0;
            padding: 0;
			background-color: #f1a92b;
			color: #b11616;
			font-family: Arial, "Helvetica Neue", Helvetica, sans-serif
        }
        .header {
            height: 20%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            margin-bottom: 20px;
        }

        .create-offer-btn {
            position: absolute;
            padding: 10px 20px;
            background-color: #b11616;
            border: 2px solid #8b0000;
            color: white;
            border-radius: 25px;
            cursor: pointer;
            left: 40px;
            top: 15px;
        }

        .create-offer-btn:hover {
            transform: scale(1.05);
            box-shadow: 0 0 10px #8b0000;
        }

        .header h1 {
            font-family: 'Permanent Marker', Impact, Charcoal, sans-serif;
            font-size: 36px;
            color: #b11616;
            margin: 0;
        }

        .favicon {
            position: absolute;
            top: 10px;
            right: 20px;
            font-size: 36px;
            color: #b11616;
            text-decoration: none;
        }
    
        .main-content {
            height: 100vh;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .offers-container {
            width: 100%;
            height: auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-content: flex-start;
        }
        .offerContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: auto;
            height: auto;
            margin: 10px;
            border: 4px solid #b11616;
            border-radius: 10px;
            padding: 0px  10px;
            box-sizing: border-box;
        }

        .offerHeader {
            width: 150px;
            height: 10%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            border: 4px solid #b11616;
            border-radius: 0px 0px 20px 20px;
        }

        .offerHeader p {
            margin: 0;
            font-size: 16px;
            font-weight: bold;
            color: #b11616;
            text-align: center;
        }

        /* .offerNames {
            width: 100%;
            height: 10%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            padding: 0px 10px;
        } */

        .offerCentral {
            width: 100%;
            height: 90%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 0px 10px; 
            gap: 10px;
        }

        .offerRequesting, .offerOffering {
            width: auto;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            margin-top: 10px;
        }

        .offerRequestingNames, .offerOfferingNames {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 10px;
        }

        .offerRequestingNames span, .offerOfferingNames span {
            font-size: 16px;
            font-weight: bold;
            color: #b11616;
            text-align: center;
        }

        .offeringFigurinePlus {
            font-size: 16px; 
            color: #b11616; 
            font-weight: bold
        }

        .offerSymbol {
            width: 10%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
        }

        .offerSymbol .offerExchangeSymbolNames {
            width: 100%;
            height: 35%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center; 
        }

        .offerSymbol .offerExchangeSymbolNames i {
            font-size: 16px;
            color: #b11616;
            text-align: center;
            font-weight: bold;
        }

        .offerExchangeSymbol p {
            margin: 0;
            font-size: 16px;
            font-weight: bold;
            color: #b11616;
            text-align: center;
        }

        .offerRequestingElements, .offerOfferingElements {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center; 
        }

        .requestingFigurine, .offeringFigurine {
            width: 120px; /* useing portrait medium 100x150 */
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
        }

        .offeringPoints, .requestingPoints {
            width: 120px; 
            height: 100%; 
            display: flex; 
            flex-direction: column; 
            justify-content: center; 
            align-items: center;
            padding: 10px;
            margin-bottom: 48px;
            gap: 10px
        }


        .offerRequestingNames .pointsNumber {
            margin-bottom: 40px;
            margin-left: 20px;
            width: 100%;
            text-align: end;
        }

        .offerOfferingNames .pointsNumber {
            margin-bottom: 40px;
            margin-left: 20px;
            width: 100%;
            text-align:start;
        }
        .pointsCircle {
            border-radius: 50%; 
            border: 4px solid #8b0000; 
            display: flex; 
            justify-content: center; 
            align-items: center; 
            padding: 5px;
            position: relative;
        }

        .innerPointsCircle {
            border-radius: 50%;
            border: 4px solid #b11616;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 15px;
            position: relative;
        }

        .innerPointsCircle span {
            font-size: 24px;
            font-weight: bold;
            color: #b11616; 
            position: relative; 
            z-index: 1;
            text-align: center;
        }

        .offerExchangeSymbol {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 10px;
        }

        .requestingFigurineImg, .offeringFigurineImg {
            width: 100%;
            height: 80%;
            border-radius: 10px;
            margin: 5px
        }

        .offerExchangeSymbol i {
            font-size: 36px;
            color: #b11616;
            text-align: center;
        }

        .offerFooter {
            width: 100%;
            height: 10%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-bottom: 10px;
        }

        .exchangeButton{
            text-decoration: none; 
            color: white;
            width: 180px;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            cursor: pointer;
            border-radius: 10px;
        }

        .exchangeButtonInternal {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            color: #ffffff;
            background-color: #b11616;
            border: 2px solid #8b0000;
            border-radius: 10px;
            padding: 15px 15px;
            box-sizing: border-box;
            transition: all 0.3s ease;
        }

        .exchangeButton:hover {
            transform: scale(1.05);
            box-shadow: 0 0 10px #8b0000;
        }

        .pagination-controls {
            width: 100%; 
            display: flex; 
            align-items: center;
            justify-content: space-between;
            padding: 10px
        }

        .paging-numerator {
            display: flex; 
            align-items: center;
            margin-left: 20px;
        }


        .pagination {
            display: flex;
            flex-grow: 1;
            justify-content: center;
        }

        .pageSlider {
            display: flex;
            margin-right: 120px;
            justify-content: center;
            align-items: center;
            gap: 30px;
        }

        #prevPage, #nextPage {
            cursor: pointer;
            font-size: 18px;
            font-weight: bold;
            color: #b11616;
            transition: color 0.3s ease;
            
        }

        #pageNum {
            font-weight: bold;
        }

        #prevPage.disabled, #nextPage.disabled {
            opacity: 0.5;
            cursor: auto;
        }

        .modalNewOffer {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.5);
            justify-content: center;
            align-items: center;
        }

        .modalNewOfferContent {
            padding: 10px 0px;
            border-radius: 10px;
            max-height: 4000px;
            width: 700px;
            height: auto;
            background-color: #b1161e;
            border: 4px solid #8b0000;
            color: white;
            padding: 0px 10px
        }

        .NewOfferMain {
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 100%;
            justify-content: center;
            align-items: center;
        }

        .figurinesChoiche {
            width: 100%;
            height: 20%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-bottom: 3px solid #8b0000;
            padding: 10px 0px;
        }

        .figurinesChoiche p {
            font-size: 18px;
            font-weight: bold;
            margin: 0;
            padding: 10px 0px 20px 0px;
        }

        .figurinesChoiche input {
            background-color: #b11616;
            border: 2px solid #8b0000;
            border-radius: 10px;
            padding: 5px 20px;
            color: white;
            text-decoration: none;
            outline: none;
        }

        .figurinesChoiche input::placeholder {
            color: #8b0000;
        }

        #suggestions {
            border-bottom: 2px solid #8b0000;
            border-right: 2px solid #8b0000;
            border-left: 2px solid #8b0000;
            border-radius: 0px 0px 10px 10px;
            display: none;
            background: #b11616;
            width: 179px;
            height: auto;
            max-height:220px;
            color: #8b0000;
            overflow-y: auto;
            bottom: 10px;
        }

        #suggestions::-webkit-scrollbar {
            height: 8px;
            scrollbar-width:thin;
        }

        #suggestions::-webkit-scrollbar-track {
            background: #b11616;
        }

        #suggestions::-webkit-scrollbar-thumb {
            background-color: #8b0000;
            border-radius: 10px;
            width: 5px
        }

        .suggestion-item {
            padding: 5px;
            cursor: pointer;
        }
        .suggestion-item:hover {
            background-color: #f0f0f0;
        }

        .figurinesList {
            border-bottom: 3px solid #8b0000;
            width: 100%;
            height: 50%;
            display: flex;
            flex-direction: row;
            gap: 20px;
            overflow-x: auto;
        }

        .figurinesList::-webkit-scrollbar {
            height: 8px;
        }

        .figurinesList::-webkit-scrollbar-track {
            background: #b11616;
        }

        .figurinesList::-webkit-scrollbar-thumb {
            background-color: #8b0000;
            border-radius: 10px;
        }

        .doubleFigurine {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
        }

        .doubleFigurineName {
            height: 10%;
            max-width: 300px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .doubleFigurineName p {
            color: white;
            font-weight: bold;
            text-align: center;
        }

        .doubleFigurineImage {
            width: 100px;
            height: 150px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .doubleFigurineImage img {
            width: 100%;
            height: 100%;
            border-radius: 10px;
            object-fit: cover;
        }

        .doubleFigurineBuying,
        .doubleFigurineSelling {
            width: 100px;
            height: 20%;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid white;
            border-radius: 10px;

        }

        .doubleFigurineBuying:hover,
        .doubleFigurineSelling:hover {
            cursor: pointer;
        }

        .doubleFigurineBuying i,
        .doubleFigurineSelling i {
            color: white;
            text-align: center;
        }

        .doubleFigurineNameText.disabled {
            opacity: 0.5;
            cursor: auto;
        }
        
        .doubleFigurineImage.disabled{
            opacity: 0.5;
            cursor: auto;
        }

        .doubleFigurineBuying.disabled{
            opacity: 0.5;
            cursor: auto;
        }
        
        .doubleFigurineSelling.disabled{
            opacity: 0.5;
            cursor: auto;
        }

        .exchangedItems {
            width: 100%;
            height: auto;
            padding: 0px 10px;
            box-sizing: border-box;
            display: flex;
        }

        .exhangeSeprator {
            border: 2px solid #8b0000;
        }

        .buyingItems, .sellingItems {
            width: 50%;
            height: 100%;
            padding: 10px 0px;
            box-sizing: border-box;
        }

        .buyingItems {
            padding-right: 5px;
        }

        .sellingItems {
            padding-left: 5px;
        }

        .sellingItem, .buyingItem {
            width: 100px;
            height: 180px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 10px;
            align-items: center;
        }

        .buyingItems header, .sellingItems header {
            width: 100%;
            height: 25px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .addPoints {
            display: flex;
            align-items: center;
        }
        .addPoints span {
            margin-right: 5px;
        }
        .addPoints {
            display: flex;
            align-items: center;
        }
        .addPoints input {
            width: 10px;
            margin-right: 5px;
            font-size: 14px;
            background-color: #b1161e;
            color: white;
            border: none;
            border-bottom: 1px solid #8b0000;
        }
        .addPoints input:focus {
            outline: none;
        }
        .addPoints a {
            color : white;
            text-decoration: none;

        }
        .addPoints a i {
            font-size: 14px;
            font-weight: bold;
            border: 2px solid #ffffff;
            border-radius: 50%;
            padding: 1px;

        }
        header p {
            font-size: 16px;
            font-weight: bold;
            margin: 0;
        }
        header i {
            font-size: 24px;
        }

        .buyingItemsList, .sellingItemsList {
            width: 90%;
            height: auto;
            display: flex;
            flex-direction: row;
            gap: 20px;
            overflow-x: auto;
            padding: 10px;
        }
        .buyingItemsList::-webkit-scrollbar, .sellingItemsList::-webkit-scrollbar {
            height: 8px;
        }
        .buyingItemsList::-webkit-scrollbar-track, .sellingItemsList::-webkit-scrollbar-track {
            background: #b11616;
        }
        .buyingItemsList::-webkit-scrollbar-thumb, .sellingItemsList::-webkit-scrollbar-thumb {
            background-color: #8b0000;
            border-radius: 10px;
        }

        .exchangedItems .pointsCircle {
            border-radius: 50%; 
            border: 4px solid #8b0000; 
            display: flex; 
            justify-content: center; 
            align-items: center; 
            padding: 5px;
            position: relative;
        }

        .exchangedItems .innerPointsCircle {
            border-radius: 50%;
            border: 4px solid #8b0000;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 15px;
            position: relative;
        }

        .exchangedItems .innerPointsCircle span {
            font-size: 18px;
            font-weight: bold;
            color: #ffffff; 
            position: relative; 
            z-index: 1;
            width: 26px;
            text-align: center;
        }

        .exchangeItemRemove {           
            width: 100px;
            height: 19px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid white;
            border-radius: 10px;

        }

        .exchangeItemRemove:hover {
            cursor: pointer;
        }

        .exchangeItemRemove i {
            color: white;
            text-align: center;
        }


        .NewOfferFooter {
            width: 100%;
            height: 20%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px 0px 10px 0px;
        }

        .NewOfferFooter a {
            width: 25%;
            text-decoration: none;
        }

        .NewOfferFooter div {
            background-color: #b11616;
            border: 3px solid #8b0000;
            border-radius: 20px;
            padding: 10px;
            text-align: center;
            cursor: pointer;
        }

        .NewOfferFooter div:hover {
            transform: scale(1.05);
            box-shadow: 0 0 10px #8b0000;
        }


        .NewOfferFooter i {
            font-size: 15px;
            font-weight: bold;
            color: #ffffff;
        }

    </style>
</head>
<body>
    <div class="header">
        <% if(user_doublefigurines.lenght === 0) { %>
        <div></div>
        <% } else { %>
            <a class="create-offer-btn" onclick="createNewOffer()" >
                <div class="create-offer-btn-content">
                    <i>Create Offer</i>
                </div>
            </a>
        <% } %>
        <h1>Marketplace</h1>
        <a href="/account/dashboard" class="favicon">
            <i class="fas fa fa-user-circle"></i>
        </a>
    </div>
    <div class="main-content">
        <div class="offers-container">
            <!-- Offer elements will be dynamically added here -->
        </div>
        <div class="pagination-controls">
            <div class="paging-numerator">
                <span style=" color: #b11616; font-weight: bold; margin-right: 40px; width:10%;">offers</span>
                <select id="elementsPerPage" style="background-color: transparent; border: 1px solid #b11616; color: #b11616;">
                    <option value="10">10</option>
                    <option value="15">20</option>
                    <option value="20">30</option>
                    <option value="25">40</option>
                    <option value="25">50</option>
                </select>
            </div>
            <div class="pagination">
                <div class="pageSlider" style="display: flex; ;">
                    <span id="prevPage">←</span>
                    <span id="pageNum"></span>
                    <span id="nextPage">→</span>
            </div>
        </div>
    </div>
    <div class="modalNewOffer">
        <div class="modalNewOfferContent">
            <div class="NewOfferMain">
                <div class="figurinesChoiche">
                    <input type="text" id="search-input" placeholder="&#128269; Enter figurine name">
                    <div id="suggestions"></div>
                </div>
                <div class="figurinesList">
                    <!-- Dynamically filled by JS script -->
                </div>
                <div class="exchangedItems">
                    <div class="buyingItems">
                        <header>
                            <div class="addPoints">
                                <span>points</span>
                                <input type="text" inputmode="numeric" pattern="[0-9]*">
                                <a href="#" onclick="addPoints(this)"><i class="fa-solid fa-plus"></i></a>
                            </div>
                            <p>Buying</p>
                            <i class="fa-solid fa-arrow-left"></i>
                        </header>
                        <div class="buyingItemsList">
                        <!-- Dynamically filled by JS script -->
                        </div>
                    </div>
                    <div class="exhangeSeprator"></div>
                    <div class="sellingItems">
                        <header>
                            <i class="fa-solid fa-arrow-right"></i>
                            <p>Selling</p>
                            <div class="addPoints">
                                <span>points</span>
                                <input type="text" inputmode="numeric" pattern="[0-9]*">
                                <a href="#" onclick="addPoints(this)"><i class="fa-solid fa-plus"></i></a>
                            </div>
                        </header>
                        <div class="sellingItemsList">
                            <!-- Dynamically filled by JS script -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="NewOfferFooter">
                <a href="#" onclick="confirmNewOffer()">
                    <div>
                        <i>CREATE</i>
                    </div>
                </a>
            </div>
        </div>
    </div>


    <script>

    const searchInput = document.getElementById('search-input');
    const suggestionsDiv = document.getElementById('suggestions');
    let debounceTimer;

    searchInput.addEventListener('input', function() {
        clearTimeout(debounceTimer);
        /* 
        The existing timer (if any) is cleared using clearTimeout(debounceTimer). 
        This cancels any pending API calls from previous keystrokes.
        */
        const query = this.value;
        if (query.length > 2) {
            debounceTimer = setTimeout(() => {
                fetch('/marketplace/newoffer/search/' + query)
                    .then(pertinentHeroes => pertinentHeroes.json())
                        .then(pertinentHeroes_json => {
                            console.log(pertinentHeroes_json);
                            updateSuggestions(pertinentHeroes_json) 
                        })
                        .catch(error => console.error('Error:', error));
            }, 300);
        } else {
            suggestionsDiv.style.display = 'none';
        }
    });


    const all_offers = <%- JSON.stringify(offers); %> ;
    const elementsPerPageInput = document.getElementById('elementsPerPage');
    let currentPage = 1;
    const offersPerPage = parseInt(elementsPerPageInput.value);
    const totalPages = Math.ceil(all_offers.length / offersPerPage);

    // monitor elemtnts per page input change
    elementsPerPageInput.addEventListener('change', function() {
        const newElementsPerPage = parseInt(this.value);
            renderPage(currentPage, offersPerPage);
    });
    // monitor prev page change
    document.getElementById('prevPage').addEventListener('click', () => {
        if (currentPage > 1) {
            currentPage--;
            renderPage(currentPage, offersPerPage);
        }
    });
    
    // monitor next page change
    document.getElementById('nextPage').addEventListener('click', () => {
        if (currentPage < totalPages) {
            currentPage++;
            renderPage(currentPage, offersPerPage);
        }
    });

    const exchangeItems = {};
    exchangeItems.buying = [];
    exchangeItems.selling = [];

    function renderPage(pageNumber, elementsPerPage) {
        const offersContainer = document.querySelector('.offers-container');
        const startIndex = (currentPage - 1) * offersPerPage;
        const endIndex = startIndex + offersPerPage;
        const offersToDisplay = all_offers.slice(startIndex, endIndex);

        offersContainer.innerHTML = '';

        offersToDisplay.forEach(offer => {
            offersContainer.appendChild(createOfferElement(offer));
        });

        updateNavigationButtons();
    }

    function createOfferElement(offer) {
            const offerContainer = document.createElement('div');
            offerContainer.className = 'offerContainer';
            const offerHeader = document.createElement('div');
            offerHeader.className = 'offerHeader';
            const offerUser = document.createElement('p');
            offerUser.textContent = offer.username;
            offerHeader.appendChild(offerUser);
            // const offerNames = document.createElement('div');
            // offerNames.className = 'offerNames';
            const offerCentral = document.createElement('div');
            offerCentral.className = 'offerCentral';
            const offerRequesting = document.createElement('div');
            offerRequesting.className = 'offerRequesting';
            const offerSymbol = document.createElement('div');
            offerSymbol.className = 'offerSymbol';
            const offerOffering = document.createElement('div');
            offerOffering.className = 'offerOffering';
            const offerRequestingNames = document.createElement('div');
            offerRequestingNames.className = 'offerRequestingNames';
            const offerRequestingElements = document.createElement('div');
            offerRequestingElements.className = 'offerRequestingElements';
            const offerExchangeSymbolNames = document.createElement('div');
            offerExchangeSymbolNames.className = 'offerExchangeSymbolNames';
            const symbolIconNames = document.createElement('i');
            symbolIconNames.className = 'fa-duotone fa-solid fa-arrow-right-arrow-left'; // Using Font Awesome exchange icon
            symbolIconNames.style.width = '100%';
            symbolIconNames.style.height = 'auto';
            offerExchangeSymbolNames.appendChild(symbolIconNames);
            const offerExchangeSymbol = document.createElement('div');
            offerExchangeSymbol.className = 'offerExchangeSymbol';
            const symbolIcon = document.createElement('i');
            symbolIcon.className = 'fa-duotone fa-solid fa-arrow-right-arrow-left'; // Using Font Awesome exchange icon
            symbolIcon.style.width = '100%';
            symbolIcon.style.height = 'auto';
            offerExchangeSymbol.appendChild(symbolIcon);
            const offerOfferingNames = document.createElement('div');
            offerOfferingNames.className = 'offerOfferingNames';
            const offerOfferingElements = document.createElement('div');
            offerOfferingElements.className = 'offerOfferingElements';

            const offerFooter = document.createElement('div');
            offerFooter.className = 'offerFooter';
            const exchangeButton = document.createElement('a');
            exchangeButton.className = 'exchangeButton';
            exchangeButton.onclick = "exchange(this)";
            const exchangeButtonInternal= document.createElement('div');
            exchangeButtonInternal.className = 'exchangeButtonInternal';
            const exchangeButtonText = document.createElement('span')
            exchangeButtonText.textContent = 'Exchange';
            exchangeButtonInternal.appendChild(exchangeButtonText);
            exchangeButton.appendChild(exchangeButtonInternal);
            offerFooter.appendChild(exchangeButton);


            if(offer.requesting.points > 0) {
                const pointsNumber = document.createElement('span');
                pointsNumber.textContent = offer.requesting.points + ' points';
                pointsNumber.className = 'pointsNumber';

                const requestingPointsContainer = document.createElement('div');
                requestingPointsContainer.className = 'requestingPoints';

                const pointsCircle = document.createElement('div');
                pointsCircle.className = 'pointsCircle';

                const innerPointsCircle = document.createElement('div');
                innerPointsCircle.className = 'innerPointsCircle';

                const pointsValue = document.createElement('span');
                pointsValue.textContent = offer.requesting.points;

                innerPointsCircle.appendChild(pointsValue);
                pointsCircle.appendChild(innerPointsCircle);
                requestingPointsContainer.appendChild(pointsCircle);
                offerRequestingNames.appendChild(pointsNumber);
                offerRequestingElements.appendChild(requestingPointsContainer);
            }  else {
                offer.requesting.figurines.forEach(figurine => {
                    const figurineName = document.createElement('span');
                    figurineName.textContent = figurine.figurine_name;

                    if(figurine.figurine_image_path.endsWith('image_not_available')) {
                        const noImageDiv = document.createElement('div');
                        noImageDiv.style.cssText = "width: 115px; height: 152px; border-radius: 10px; border: 4px solid #b11616; display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center; font-size: 10px; line-height: 1.2; margin-bottom: 28px;";
                        noImageDiv.innerHTML = `<span style="font-size: medium; font-weight: bold">${figurine.figurine_name}</span><span>Image</span><span>Not</span><span>Available</span>`;
                        offerRequestingElements.appendChild(noImageDiv);
                        if(offer.requesting.figurines.indexOf(figurine) > 0){
                            noImageDiv.style.setProperty('margin-left', '20px');
                            const figurinePlus = document.createElement('span');
                            figurinePlus.textContent = '+';
                            offerRequestingNames.appendChild(figurinePlus);
                        }
                        offerRequestingNames.appendChild(figurineName);
                    }  else {
                        const figurineElement = document.createElement('div');
                        figurineElement.class = 'requestingFigurine';
                        figurineElement.style.cssText = 'width: 120px; height: 100%; display: flex; flex-direction: column; justify-content: flex-start; align-items: center; display: flex; flex-direction: column; justify-content: flex-start; align-items: center;';
                        const figurineImg = document.createElement('img');
                        figurineImg.className = 'requestingFigurineImg';
                        figurineImg.src = figurine.figurine_image_path + '/portrait_medium.' + figurine.figurine_ext;
                        figurineImg.onerror = function() {
                            this.onerror = null;
                            this.parentNode.innerHTML = `<div style="width: 100px; height: 150px; border: 2px solid #8b0000; border-radius: 10px; display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center; font-size: 10px; line-height: 1.2;"><span style="font-size: medium; font-weight: bold">${figurine.figurine_name}</span><span>Image</span><span>Not</span><span>Available</span></div>`;
                        };
                        if(offer.requesting.figurines.indexOf(figurine) > 0){
                            figurineElement.style.setProperty('margin-left', '20px');
                            const figurinePlus = document.createElement('span');
                            figurinePlus.textContent = '+';
                            offerRequestingNames.appendChild(figurinePlus);
                        }
                        offerRequestingNames.appendChild(figurineName);
                        figurineElement.appendChild(figurineImg);
                        offerRequestingElements.appendChild(figurineElement);
                    }

                });
            }

            if(offer.offering.points > 0) {
                const pointsNumber = document.createElement('span');
                pointsNumber.textContent = offer.offering.points + ' points';
                pointsNumber.className = 'pointsNumber';

                const offeringPointsContainer = document.createElement('div');
                offeringPointsContainer.className = 'offeringPoints';

                const pointsCircle = document.createElement('div');
                pointsCircle.className = 'pointsCircle';

                const innerPointsCircle = document.createElement('div');
                innerPointsCircle.className = 'innerPointsCircle';

                const pointsValue = document.createElement('span');
                pointsValue.textContent = offer.offering.points;
                pointsValue.style.cssText = 'font-size: 24px; color: #b11616; position: relative; z-index: 1;';

                innerPointsCircle.appendChild(pointsValue);
                pointsCircle.appendChild(innerPointsCircle);
                offeringPointsContainer.appendChild(pointsCircle);
                offerOfferingNames.appendChild(pointsNumber);
                offerOfferingElements.appendChild(offeringPointsContainer);
            } else {
                offer.offering.figurines.forEach(figurine => {
                    const figurineName = document.createElement('span');
                    figurineName.textContent = figurine.figurine_name;
                    if(figurine.figurine_image_path.endsWith('image_not_available')) {
                        const noImageDiv = document.createElement('div');
                        noImageDiv.style.cssText = "width: 115px; height: 152px; border-radius: 10px; border: 4px solid #b11616; display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center; font-size: 10px; line-height: 1.2; margin-bottom: 28px;";
                        noImageDiv.innerHTML = `<span style="font-size: medium; font-weight: bold">${figurine.figurine_name}</span><span>Image</span><span>Not</span><span>Available</span>`;
                        offerOfferingElements.appendChild(noImageDiv);
                        if(offer.offering.figurines.indexOf(figurine) > 0){
                            noImageDiv.style.setProperty('margin-left', '20px');
                            const figurinePlus = document.createElement('span');
                            figurinePlus.textContent = '+';
                            offerOfferingNames.appendChild(figurinePlus);
                        }
                        offerOfferingNames.appendChild(figurineName);
                    }  else {
                        const figurineElement = document.createElement('div');
                        figurineElement.class = 'offeringFigurine';
                        figurineElement.style.cssText = ' width: 120px; height: 100%; display: flex; flex-direction: column; justify-content: flex-start; align-items: center; display: flex; flex-direction: column; justify-content: flex-start; align-items: center;';
                        const figurineImg = document.createElement('img');
                        figurineImg.className = 'offeringFigurineImg';
                        figurineImg.src = figurine.figurine_image_path + '/portrait_medium.' + figurine.figurine_ext;
                        figurineImg.onerror = function() {
                            this.onerror = null;
                            this.parentNode.innerHTML = `<div style="width: 100px; height: 150px; border: 2px solid #8b0000; border-radius: 10px; display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center; font-size: 10px; line-height: 1.2;"><span style="font-size: medium; font-weight: bold">${figurine.figurine_name}</span><span>Image</span><span>Not</span><span>Available</span></div>`;
                        };
                        if(offer.offering.figurines.indexOf(figurine) > 0){
                            figurineElement.style.setProperty('margin-left', '20px');
                            const figurinePlus = document.createElement('span');
                            figurinePlus.textContent = '+';
                            figurinePlus.className = 'offeringFigurinePlus';
                            offerOfferingNames.appendChild(figurinePlus);
                        }
                        offerOfferingNames.appendChild(figurineName);
                        figurineElement.appendChild(figurineImg);
                        offerOfferingElements.appendChild(figurineElement);
                        }

                });

            }
        offerRequesting.appendChild(offerRequestingNames);
        offerRequesting.appendChild(offerRequestingElements);
        offerSymbol.appendChild(offerExchangeSymbolNames);
        offerSymbol.appendChild(offerExchangeSymbol);
        offerOffering.appendChild(offerOfferingNames);
        offerOffering.appendChild(offerOfferingElements);

        offerCentral.appendChild(offerRequesting);
        offerCentral.appendChild(offerSymbol);
        offerCentral.appendChild(offerOffering);

        offerContainer.appendChild(offerHeader);
        offerContainer.appendChild(offerCentral);
        offerContainer.appendChild(offerFooter);

        return offerContainer;

    }

    function updateNavigationButtons() {
        const prevButton = document.getElementById('prevPage');
        const nextButton = document.getElementById('nextPage');
        const pageNum = document.getElementById('pageNum')
        pageNum.innerHTML = 'Page ' + currentPage;

        prevButton.classList.toggle('disabled', currentPage === 1);
        nextButton.classList.toggle('disabled', currentPage === totalPages);
    }


    function createNewOffer() {
    
    const userDoublesFigurines = <%- JSON.stringify(user_doublefigurines); %> ;
    console.log(userDoublesFigurines);
    const figurinesList = document.querySelector('.figurinesList');
    const exchangedItems = document.querySelector('.exchangedItems');

    userDoublesFigurines.forEach(doubleFigurine => {
        const doubleFigurineElement = document.createElement('div');
        doubleFigurineElement.className = 'doubleFigurine';
        sessionStorage.setItem('double_' + doubleFigurine.name, JSON.stringify({ "name": doubleFigurine.name, "image_path": doubleFigurine.image_path, "user_figurine_id": doubleFigurine._id }))
        const doubleFigurineName = document.createElement('div');
        doubleFigurineName.className = 'doubleFigurineName';
        const doubleFigurineNameText = document.createElement('p');
        doubleFigurineNameText.className = 'doubleFigurineNameText';
        doubleFigurineNameText.textContent = doubleFigurine.name;
        const doubleFigurineImage = document.createElement('div');
        doubleFigurineImage.className = 'doubleFigurineImage';
        if(doubleFigurine.image_path.endsWith('image_not_available')) {
            doubleFigurineImage.style.cssText = 'border: 4px solid #8b0000; border-radius: 10px; flex-direction: column;';
            doubleFigurineImage.innerHTML = `<span>Image</span><span>Not</span><span>Available</span>`;
        } else {
        const doubleFigurineImageImg = document.createElement('img');
        doubleFigurineImageImg.src = doubleFigurine.image_path + '/portrait_medium.' + doubleFigurine.ext;
        doubleFigurineImageImg.onerror = function() {
                    this.onerror = null;
                    this.parentNode.style.cssText = 'border: 4px solid #8b0000; border-radius: 10px; flex-direction: column;'
                    this.parentNode.innerHTML = `<span>Image</span><span>Not</span><span>Available</span>`;
                };
        doubleFigurineImageImg.alt = 'double figurine image ' + doubleFigurine._id;
        doubleFigurineImage.appendChild(doubleFigurineImageImg);
        }
        const doubleFigurineSelling = document.createElement('div');
        doubleFigurineSelling.className = 'doubleFigurineSelling';
        doubleFigurineSelling.setAttribute('onclick', 'addSellingItem(this)');
        const doubleFigurineSellingText = document.createElement('i');
        doubleFigurineSellingText.textContent = 'SELL';

        doubleFigurineName.appendChild(doubleFigurineNameText);
        doubleFigurineSelling.appendChild(doubleFigurineSellingText);
    
        doubleFigurineElement.appendChild(doubleFigurineName);
        doubleFigurineElement.appendChild(doubleFigurineImage);
        doubleFigurineElement.appendChild(doubleFigurineSelling);

        figurinesList.appendChild(doubleFigurineElement);
    });

    document.querySelector('.modalNewOffer').style.display = 'flex';
    }

    function addSellingItem(target){
        // check for hero buy and sell request
        for(let buyingItem of exchangeItems.buying) {
            if(buyingItem.name === target.parentNode.children[0].textContent) {
                console.log(buyingItem.name)
                console.log("you are already buying this hero")
                return
            }
        }

        target.parentNode.children[0].children[0].classList.toggle('disabled');
        target.parentNode.children[1].classList.toggle('disabled');
        target.parentNode.children[2].classList.toggle('disabled');
        target.removeAttribute('onclick');

        const sellingFigurinesList = document.querySelector('.sellingItemsList');
        const sellingFigurine = document.createElement('div');
        sellingFigurine.className = 'sellingItem';
        const doubleHero = JSON.parse(sessionStorage.getItem('double_' + target.parentNode.children[0].textContent))
        const exchangeItemRemove = document.createElement('div');
        exchangeItemRemove.className = 'exchangeItemRemove';
        exchangeItemRemove.setAttribute('onclick', 'removeExhangeItem(this)');
        const exchangeItemRemoveText = document.createElement('i');
        exchangeItemRemoveText.textContent = 'REMOVE';
        exchangeItemRemove.appendChild(exchangeItemRemoveText);
        let doubleHeroName = doubleHero.name
        exchangeItems.selling.push({
                name: doubleHero.name,
                image_path: doubleHero.image_path,
                user_figurine_id: doubleHero.user_figurine_id
        })
        sellingFigurine.setAttribute('hero-name', doubleHeroName)
        console.log(exchangeItems.selling)
        // maybe to add in an element attribute for reference later `${target.parentNode.children[0].children[0].textContent}`;
        const sellingFigurineImage = document.createElement('div');
        sellingFigurineImage.className = 'doubleFigurineImage';
        if(target.parentNode.children[1].children[0].textContent === 'Image') {
            sellingFigurineImage.style.cssText = 'border: 4px solid #8b0000; border-radius: 10px; flex-direction: column;';
            sellingFigurineImage.innerHTML = `<span style="font-weight: bold">${doubleHeroName}</span><span>Image</span><span>Not</span><span>Available</span>`;
        } else {
        const sellingFigurineImageImg = document.createElement('img');
        sellingFigurineImageImg.src = target.parentNode.children[1].children[0].getAttribute('src');
        sellingFigurineImageImg.onerror = function() {
                    this.onerror = null;
                    this.parentNode.style.cssText = 'border: 4px solid #8b0000; border-radius: 10px; flex-direction: column;'
                    this.parentNode.innerHTML = `<span style="font-weight: bold">${doubleHeroName}</span><span>Image</span><span>Not</span><span>Available</span>`;
                };
        sellingFigurineImageImg.alt = 'double figurine image';
        sellingFigurineImage.appendChild(sellingFigurineImageImg);

        }

        // sellingItem.innerHTML = `<div class="sellingItemName">${event.target.parentNode.children[0].textContent}</div><div class="sellingItemImage"><img src="${event.target.parentNode.children[1].children[0].src}" alt="selling item image"></div>`;
        // sellingFigurineName.appendChild(sellingFigurineNameText);

        // sellingFigurine.appendChild(sellingFigurineName);
        sellingFigurine.appendChild(sellingFigurineImage);
        sellingFigurine.appendChild(exchangeItemRemove);
        sellingFigurinesList.appendChild(sellingFigurine);
    }

    function addPoints(target) {

        target.parentNode.children[1].value = target.parentNode.children[1].value.replace(/[^0-9]/g, '');

        if(target.parentNode.children[1].value < 1) {
            console.log("must add at least one point")
        } else if(target.parentNode.children[1].value){

            const itemsList = target.parentNode.parentNode.parentNode.children[1];

            for (let child of itemsList.children) {
                if (child.classList.contains('requestingPoints')) {
                    child.children[0].children[0].children[0].textContent = parseInt(child.children[0].children[0].children[0].textContent, 10) + parseInt(target.parentNode.children[1].value, 10); 
                    return
                }
            }

            const requestingPointsContainer = document.createElement('div');
            requestingPointsContainer.className = 'requestingPoints';

            const pointsCircle = document.createElement('div');
            pointsCircle.className = 'pointsCircle';

            const innerPointsCircle = document.createElement('div');
            innerPointsCircle.className = 'innerPointsCircle';

            const pointsValue = document.createElement('span');
            pointsValue.textContent = target.parentNode.children[1].value;

            const exchangeItemRemove = document.createElement('div');
            exchangeItemRemove.className = 'exchangeItemRemove';
            exchangeItemRemove.setAttribute('onclick', 'removeExhangeItem(this)');
            const exchangeItemRemoveText = document.createElement('i');
            exchangeItemRemoveText.textContent = 'REMOVE';
            exchangeItemRemove.appendChild(exchangeItemRemoveText);

            target.parentNode.children[1].value = '';

            innerPointsCircle.appendChild(pointsValue);
            pointsCircle.appendChild(innerPointsCircle);
            requestingPointsContainer.appendChild(pointsCircle);
            requestingPointsContainer.appendChild(exchangeItemRemove);
            itemsList.appendChild(requestingPointsContainer);
        }

    }

        // javascript to dincamically create suggested heroes and add heroes to buying list
    function updateSuggestions(suggestions) {
        suggestionsDiv.innerHTML = '';

        if (suggestions.length > 0) {
            suggestions.forEach(item => {
                const div = document.createElement('div');
                div.className = 'suggestion-item';
                div.textContent = item.name;
                div.onclick = function() {
                    searchInput.value = this.textContent;
                    suggestionsDiv.style.display = 'none';
                    addBuyingItem(this.textContent);
                    searchInput.value = '';
                };
                suggestionsDiv.appendChild(div);
                sessionStorage.setItem(item.name, JSON.stringify(item))
            });
            suggestionsDiv.style.display = 'block';
        } else {
            suggestionsDiv.style.display = 'none';
        }
    }

    function addBuyingItem(itemName){
        // check for hero buy and sell request
        for(let sellingItem of exchangeItems.selling) {
            if(sellingItem.name === itemName) {
                console.log(sellingItem.name)
                console.log("you are already selling this hero")
                return
            }
        }
        
        // check for hero double buy request
        for(let buyingItem of exchangeItems.buying) {
            if(buyingItem.name === itemName) {
                console.log(buyingItem.name)
                console.log("you are already buying this hero")
                return
            }
        }

        // check for hero already in doubles
        
        const hero = JSON.parse(sessionStorage.getItem(itemName))
        const buyingFigurinesList = document.querySelector('.buyingItemsList');
        const buyingFigurine = document.createElement('div');
        buyingFigurine.className = 'buyingItem';
        const exchangeItemRemove = document.createElement('div');
        exchangeItemRemove.className = 'exchangeItemRemove';
        exchangeItemRemove.setAttribute('onclick', 'removeExhangeItem(this)');
        const exchangeItemRemoveText = document.createElement('i');
        exchangeItemRemoveText.textContent = 'REMOVE';
        exchangeItemRemove.appendChild(exchangeItemRemoveText);
        let heroName = hero.name
        exchangeItems.buying.push({
                name: heroName,
                image_path: hero.image_path,
                hero_id: hero.id
        })
        buyingFigurine.setAttribute('hero-name', heroName)
        console.log(exchangeItems.buying)
        const buyingFigurineImage = document.createElement('div');
        buyingFigurineImage.className = 'doubleFigurineImage';
        if(hero.image_path.endsWith('image_not_available')) {
            buyingFigurineImage.style.cssText = 'border: 4px solid #8b0000; border-radius: 10px; flex-direction: column;';
            buyingFigurineImage.innerHTML = `<span style="font-weight: bold">${heroName}</span><span>Image</span><span>Not</span><span>Available</span>`;
        } else {
        const buyingFigurineImageImg = document.createElement('img');
        buyingFigurineImageImg.src = hero.image_path + '/portrait_medium.jpg';
        buyingFigurineImageImg.onerror = function() {
                    this.onerror = null;
                    this.parentNode.style.cssText = 'border: 4px solid #8b0000; border-radius: 10px; flex-direction: column;'
                    this.parentNode.innerHTML = `<span style="font-weight: bold">${heroName}</span><span>Image</span><span>Not</span><span>Available</span>`;
                };
        buyingFigurineImageImg.alt = 'double figurine image';
        buyingFigurineImage.appendChild(buyingFigurineImageImg);
        }
        //buyingFigurineName.appendChild(buyingFigurineNameText);
        // buyingFigurine.appendChild(buyingFigurineName);
        buyingFigurine.appendChild(buyingFigurineImage);
        buyingFigurine.appendChild(exchangeItemRemove)
        buyingFigurinesList.appendChild(buyingFigurine);
    }

    function removeExhangeItem(target) {

        if(target.parentNode.classList.contains('requestingPoints')){
            target.parentNode.remove();
        } else if(target.parentNode.classList.contains('buyingItem')) {
            const buyingFigurine = JSON.parse(sessionStorage.getItem(target.parentNode.getAttribute('hero-name')))
            for (const [index, item] of exchangeItems.buying.entries()) {
                if (item.hero_id === buyingFigurine.id) {
                    exchangeItems.buying.splice(index, 1);
                    break;
                }
            }
            target.parentNode.remove();
        } else if(target.parentNode.classList.contains('sellingItem')){
            /* enable element in doubles list*/
            const sellingItem = JSON.parse(sessionStorage.getItem('double_' + target.parentNode.getAttribute('hero-name')))
            const disabledDoubleFigurinesElementsName = document.querySelectorAll('.doubleFigurineNameText.disabled');
            disabledDoubleFigurinesElementsName.forEach(disabledFigName => {
                if(disabledFigName.textContent === target.parentNode.getAttribute('hero-name')) {
                disabledFigName.classList.toggle('disabled');
                disabledFigName.parentNode.parentNode.children[1].classList.toggle('disabled');
                disabledFigName.parentNode.parentNode.children[2].classList.toggle('disabled');
                disabledFigName.parentNode.parentNode.children[2].setAttribute('onclick', 'addSellingItem(this)');
                }
            })
            for (const [index, item] of exchangeItems.selling.entries()) {
                if (item.user_figurine_id === sellingItem.user_figurine_id) {
                    exchangeItems.selling.splice(index, 1);
                    break;
                }
            }
            target.parentNode.remove();
            } else {
            console.log('element not recognized')
            }
    }

    function confirmNewOffer() {
        
    }


    renderPage(currentPage, offersPerPage);
    </script>
</body>
</html>
