<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marketplace</title>
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <style>
        body, html {
            margin: 0;
            padding: 0;
			background-color: #f1a92b;
			color: #b11616;
			font-family: Arial, "Helvetica Neue", Helvetica, sans-serif
        }
        .header {
            height: 20%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            margin-bottom: 20px;
        }

        .create-offer-btn {
            position: absolute;
            padding: 10px 20px;
            background-color: #b11616;
            border: 2px solid #8b0000;
            color: white;
            border-radius: 25px;
            cursor: pointer;
            left: 40px;
            top: 15px;
        }

        .create-offer-btn:hover {
            transform: scale(1.05);
            box-shadow: 0 0 10px #8b0000;
        }

        .header h1 {
            font-family: 'Permanent Marker', Impact, Charcoal, sans-serif;
            font-size: 36px;
            color: #b11616;
            margin: 0;
        }

        .favicon {
            position: absolute;
            top: 10px;
            right: 20px;
            font-size: 36px;
            color: #b11616;
            text-decoration: none;
        }
    
        .main-content {
            height: 100vh;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .offers-container {
            width: 100%;
            height: auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-content: flex-start;
        }
        .offerContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: auto;
            height: auto;
            margin: 10px;
            border: 4px solid #b11616;
            border-radius: 10px;
            padding: 0px  10px;
            box-sizing: border-box;
        }

        .offerHeader {
            width: 150px;
            height: 10%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            border: 4px solid #b11616;
            border-radius: 0px 0px 20px 20px;
        }

        .offerHeader p {
            margin: 0;
            font-size: 16px;
            font-weight: bold;
            color: #b11616;
            text-align: center;
        }

        /* .offerNames {
            width: 100%;
            height: 10%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            padding: 0px 10px;
        } */

        .offerCentral {
            width: 100%;
            height: 90%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 0px 10px; 
            gap: 10px;
        }

        .offerRequesting, .offerOffering {
            width: auto;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            margin-top: 10px;
        }

        .offerRequestingNames, .offerOfferingNames {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 10px;
        }

        .offerRequestingNames span, .offerOfferingNames span {
            font-size: 16px;
            font-weight: bold;
            color: #b11616;
            text-align: center;
        }

        .offeringFigurinePlus {
            font-size: 16px; 
            color: #b11616; 
            font-weight: bold
        }

        .offerSymbol {
            width: 10%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
        }

        .offerSymbol .offerExchangeSymbolNames {
            width: 100%;
            height: 35%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center; 
        }

        .offerSymbol .offerExchangeSymbolNames i {
            font-size: 16px;
            color: #b11616;
            text-align: center;
            font-weight: bold;
        }

        .offerExchangeSymbol p {
            margin: 0;
            font-size: 16px;
            font-weight: bold;
            color: #b11616;
            text-align: center;
        }

        .offerRequestingElements, .offerOfferingElements {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center; 
        }

        .requestingFigurine, .offeringFigurine {
            width: 120px; /* useing portrait medium 100x150 */
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
        }

        .offeringPoints, .requestingPoints {
            width: 120px; height: 100%; 
            display: flex; 
            flex-direction: column; 
            justify-content: center; 
            align-items: flex-start; 
            padding: 10px;
            margin-bottom: 48px;
        }

        .requestingPoints {
            align-items: flex-end; 
        }


        .offerRequestingNames .pointsNumber {
            margin-bottom: 40px;
            margin-left: 20px;
            width: 100%;
            text-align: end;
        }

        .offerOfferingNames .pointsNumber {
            margin-bottom: 40px;
            margin-left: 20px;
            width: 100%;
            text-align:start;
        }
        .pointsCircle {
            border-radius: 50%; 
            border: 4px solid #8b0000; 
            display: flex; 
            justify-content: center; 
            align-items: center; 
            padding: 5px;
            position: relative;
        }

        .innerPointsCircle {
            border-radius: 50%;
            border: 4px solid #b11616;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 15px;
            position: relative;
        }

        .innerPointsCircle span {
            font-size: 24px;
            font-weight: bold;
            color: #b11616; 
            position: relative; 
            z-index: 1;
        }


        .offerExchangeSymbol {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 10px;
        }

        .requestingFigurineImg, .offeringFigurineImg {
            width: 100%;
            height: 80%;
            border-radius: 10px;
            margin: 5px
        }

        .offerExchangeSymbol i {
            font-size: 36px;
            color: #b11616;
            text-align: center;
        }

        .offerFooter {
            width: 100%;
            height: 10%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-bottom: 10px;
        }

        .exchangeButton{
            text-decoration: none; 
            color: white;
            width: 180px;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            cursor: pointer;
            border-radius: 10px;
        }

        .exchangeButtonInternal {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            color: #ffffff;
            background-color: #b11616;
            border: 2px solid #8b0000;
            border-radius: 10px;
            padding: 15px 15px;
            box-sizing: border-box;
            transition: all 0.3s ease;
        }

        .exchangeButton:hover {
            transform: scale(1.05);
            box-shadow: 0 0 10px #8b0000;
        }

        .pagination-controls {
            width: 100%; 
            display: flex; 
            align-items: center;
            justify-content: space-between;
            padding: 10px
        }

        .paging-numerator {
            display: flex; 
            align-items: center;
            margin-left: 20px;
        }


        .pagination {
            display: flex;
            flex-grow: 1;
            justify-content: center;
        }

        .pageSlider {
            display: flex;
            margin-right: 120px;
            justify-content: center;
            align-items: center;
            gap: 30px;
        }

        #prevPage, #nextPage {
            cursor: pointer;
            font-size: 18px;
            font-weight: bold;
            color: #b11616;
            transition: color 0.3s ease;
            
        }

        #pageNum {
            font-weight: bold;
        }

        #prevPage.disabled, #nextPage.disabled {
            opacity: 0.5;
            cursor: auto;
        }

        .modalNewOffer {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.5);
            justify-content: center;
            align-items: center;
        }
        .modalNewOfferContent {
            padding: 10px 0px;
            border-radius: 10px;
            max-width: 4000px;
            width: 700px;
            height: auto;
            background-color: #b1161e;
            border: 4px solid #8b0000;
            color: white;
        }
        .NewOfferHeader {
            width: 100%;
            height: 10%;
            border-bottom: 3px solid #8b0000;
            display: flex;
            justify-content: center;
            align-items: center;

        }
        .NewOfferHeader p {
            font-size: 20px;
            font-weight: bold;
            margin: 0;
            padding-bottom: 10px
        }
        .NewOfferMain {
            width: 100%;
            height: 80%;
            display: flex;
            flex-direction: column;
            border: 2px solid #0eb03c;
        }

        .figurinesList {
            border-bottom: 3px solid #8b0000;
            width: auto;
            height: 50%;
            display: flex;
            flex-direction: row;
            gap: 20px;
            padding: 10px;
            overflow-x: auto;

        }

        .figurinesList::-webkit-scrollbar {
            height: 8px;
        }

        .figurinesList::-webkit-scrollbar-track {
            background: #b11616;
        }

        .figurinesList::-webkit-scrollbar-thumb {
            background-color: #8b0000;
            border-radius: 10px;
        }

        .doubleFigurine {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
        }

        .doubleFigurineName {
            height: 10%;
            max-width: 300px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .doubleFigurineName p {
            color: white;
            font-weight: bold;
            text-align: center;
        }

        .doubleFigurineImage {
            width: 100px;
            height: 150px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .doubleFigurineImage img {
            width: 100%;
            height: 100%;
            border-radius: 10px;
            object-fit: cover;
        }

        .doubleFigurineBuying,
        .doubleFigurineSelling {
            width: 100px;
            height: 20%;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid white;
            border-radius: 10px;

        }

        .doubleFigurineBuying:hover,
        .doubleFigurineSelling:hover {
            cursor: pointer;
        }

        .doubleFigurineBuying i,
        .doubleFigurineSelling i {
            color: white;
            text-align: center;
        }

        .doubleFigurineNameText.disabled {
            opacity: 0.5;
            cursor: auto;
        }
        
        .doubleFigurineImage.disabled{
            opacity: 0.5;
            cursor: auto;
        }

        .doubleFigurineBuying.disabled{
            opacity: 0.5;
            cursor: auto;
        }
        
        .doubleFigurineSelling.disabled{
            opacity: 0.5;
            cursor: auto;
        }


        .exchangedItems {
            width: 100%;
            height: 50%;
            padding: 10px;
            box-sizing: border-box;
            display: flex;
            border: 2px solid #160eb0;
        }
        .buyingItems, .sellingItems {
            width: 50%;
            height: 100%;
            padding: 10px;
            box-sizing: border-box;
        }
        .buyingItems header, .sellingItems header {
            width: 100%;
            height: 25%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .addPoints {
            display: flex;
            align-items: center;
        }
        .addPoints span {
            margin-right: 5px;
        }
        .addPoints {
            display: flex;
            align-items: center;
        }
        .addPoints input {
            width: 10px;
            margin-right: 5px;
            background-color: #b1161e;
            color: white;
            border: none;
            border-bottom: 1px solid #8b0000;
            padding: 2px;
        }
        .addPoints input:focus {
            outline: none;
        }
        .addPoints a {
            color : white;
            text-decoration: none;

        }
        .addPoints a i {
            font-size: 14px;
            font-weight: bold;
            border: 2px solid #ffffff;
            border-radius: 50%;
            padding: 1px;

        }
        header p {
            font-size: 16px;

            font-weight: bold;
            margin: 0;
        }
        header i {
            font-size: 24px;
        }

        .buyingItemsList, .sellingItemsList {
            width: 100%;
            height: 75%;
            display: flex;
            flex-direction: row;
            gap: 20px;
            overflow-x: auto;
            padding: 10px;
        }
        .buyingItemsList::-webkit-scrollbar, .sellingItemsList::-webkit-scrollbar {
            width: 8px;
        }
        .buyingItemsList::-webkit-scrollbar-track, .sellingItemsList::-webkit-scrollbar-track {
            background: #b11616;
        }
        .buyingItemsList::-webkit-scrollbar-thumb, .sellingItemsList::-webkit-scrollbar-thumb {
            background-color: #8b0000;
            border-radius: 10px;
        }



        .NewOfferFooter {
            width: 100%;
            height: 20%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .NewOfferFooter a {
            width: 30%;
            text-decoration: none;
        }
        .NewOfferFooter div {
            background-color: #b11616;
            border: 2px solid #8b0000;
            border-radius: 5px;
            padding: 10px;
            text-align: center;
            color: white;
            cursor: pointer;
        }



    </style>
</head>
<body>
    <div class="header">
        <% if(user_doublefigurines.lenght === 0) { %>
        <div></div>
        <% } else { %>
            <a class="create-offer-btn" onclick="createOffer()" >
                <div class="create-offer-btn-content">
                    <i>Create Offer</i>
                </div>
            </a>
        <% } %>
        <h1>Marketplace</h1>
        <a href="/account/dashboard" class="favicon">
            <i class="fas fa fa-user-circle"></i>
        </a>
    </div>
    <div class="main-content">
        <div class="offers-container">
            <!-- Offer elements will be dynamically added here -->
        </div>
        <div class="pagination-controls">
            <div class="paging-numerator">
                <span style=" color: #b11616; font-weight: bold; margin-right: 40px; width:10%;">offers</span>
                <select id="elementsPerPage" style="background-color: transparent; border: 1px solid #b11616; color: #b11616;">
                    <option value="10">10</option>
                    <option value="15">20</option>
                    <option value="20">30</option>
                    <option value="25">40</option>
                    <option value="25">50</option>
                </select>
            </div>
            <div class="pagination">
                <div class="pageSlider" style="display: flex; ;">
                    <span id="prevPage">←</span>
                    <span id="pageNum"></span>
                    <span id="nextPage">→</span>
            </div>
        </div>
    </div>
    <div class="modalNewOffer">
        <div class="modalNewOfferContent">
            <div class="NewOfferHeader">
                <p>Create Offer</p>
            </div>
            <div class="NewOfferMain">
                <div class="figurinesList">
                    <!-- Dynamically filled by JS script -->
                </div>
                <div class="exchangedItems">
                    <div class="buyingItems">
                        <header>
                            <div class="addPoints">
                                <span>add points</span>
                                <input type="text" inputmode="numeric" pattern="[0-9]*">
                                <a href="#" onclick="addPoints()"><i class="fa-solid fa-plus"></i></a>
                            </div>
                            <p>Buying</p>
                            <i class="fa-solid fa-arrow-left"></i>
                        </header>
                        <div class="buyingItemsList">
                        <!-- Dynamically filled by JS script -->
                        </div>
                    </div>
                    <div class="sellingItems">
                        <header>
                            <i class="fa-solid fa-arrow-right"></i>
                            <p>Selling</p>
                            <div class="addPoints">
                                <span>add points</span>
                                <input type="text" inputmode="numeric" pattern="[0-9]*">
                                <a href="#" onclick="addPoints(this)"><i class="fa-solid fa-plus"></i></a>
                            </div>
                        </header>
                        <div class="sellingItemsList">
                            <!-- Dynamically filled by JS script -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="NewOfferFooter">
                <a href="#" onclick="confirmNewOffer()">
                    <div>
                        <i>confirm</i>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <script>

        function createOffer() {
        
            const userDoublesFigurines = <%- JSON.stringify(user_doublefigurines); %> ;
            console.log(userDoublesFigurines);
            const figurinesList = document.querySelector('.figurinesList');
            const exchangedItems = document.querySelector('.exchangedItems');

            userDoublesFigurines.forEach(doubleFigurine => {
                const doubleFigurineElement = document.createElement('div');
                doubleFigurineElement.className = 'doubleFigurine';
                const doubleFigurineName = document.createElement('div');
                doubleFigurineName.className = 'doubleFigurineName';
                const doubleFigurineNameText = document.createElement('p');
                doubleFigurineNameText.className = 'doubleFigurineNameText';
                doubleFigurineNameText.textContent = doubleFigurine.name;
                const doubleFigurineImage = document.createElement('div');
                doubleFigurineImage.className = 'doubleFigurineImage';
                if(doubleFigurine.image_path.endsWith('image_not_available')) {
                    doubleFigurineImage.style.cssText = 'border: 4px solid #8b0000; border-radius: 10px; flex-direction: column;';
                    doubleFigurineImage.innerHTML = `<span>Image</span><span>Not</span><span>Available</span>`;
                } else {
                const doubleFigurineImageImg = document.createElement('img');
                doubleFigurineImageImg.src = doubleFigurine.image_path + '/portrait_medium.' + doubleFigurine.ext;
                doubleFigurineImageImg.onerror = function() {
                            this.onerror = null;
                            this.parentNode.style.cssText = 'border: 4px solid #8b0000; border-radius: 10px; flex-direction: column;'
                            this.parentNode.innerHTML = `<span>Image</span><span>Not</span><span>Available</span>`;
                        };
                doubleFigurineImageImg.alt = 'double figurine image ' + doubleFigurine._id;
                doubleFigurineImage.appendChild(doubleFigurineImageImg);
                }
                const doubleFigurineSelling = document.createElement('div');
                doubleFigurineSelling.className = 'doubleFigurineSelling';
                doubleFigurineSelling.setAttribute('onclick', 'addSellingItem(this)');
                const doubleFigurineSellingText = document.createElement('i');
                doubleFigurineSellingText.textContent = 'SELL';

                doubleFigurineName.appendChild(doubleFigurineNameText);
                doubleFigurineSelling.appendChild(doubleFigurineSellingText);
            
                doubleFigurineElement.appendChild(doubleFigurineName);
                doubleFigurineElement.appendChild(doubleFigurineImage);
                doubleFigurineElement.appendChild(doubleFigurineSelling);

                figurinesList.appendChild(doubleFigurineElement);
            });

            document.querySelector('.modalNewOffer').style.display = 'flex';

            // document.querySelector('.doubleFigurineBuying').addEventListener('click', function() {
            //     addBuyingItem(event.target)
            //     // console.log('buying');
            //     // console.log(event.target.parentNode);
            //     // const buyingItemsList = exchangedItems.children[0].children[1];
            // });

            // document.querySelector('.doubleFigurineSelling').addEventListener('click', function() {
            //     addSellingItem(event.target);
            //     // console.log('selling');
            // });
            

        }

        // function addBuyingItem(target){
        //     console.log('new buying item ' + target.parentNode.children[0].children[0].textContent);
        //     console.log(target.parentNode.children[1].children[0].src);
        //     console.log(target.parentNode.children[1])
        //     console.log(target.parentNode.children[1].children[0])
            
        //     target.parentNode.children[0].children[0].classList.toggle('disabled');
        //     target.parentNode.children[1].classList.toggle('disabled');
        //     target.parentNode.children[2].classList.toggle('disabled');
        //     target.parentNode.children[3].classList.toggle('disabled');
        //     target.removeAttribute('onclick');
        //     target.parentNode.children[3].removeAttribute('onclick');

        //     const buyingFigurinesList = document.querySelector('.buyingItemsList');
        //     const buyingFigurine = document.createElement('div');
        //     buyingFigurine.className = 'buyingItem';
        //     const buyingFigurineName = document.createElement('div');
        //     buyingFigurineName.className = 'doubleFigurineName';
        //     const buyingFigurineNameText = document.createElement('p');
        //     buyingFigurineNameText.textContent = `${target.parentNode.children[0].children[0].textContent}`;
        //     const buyingFigurineImage = document.createElement('div');
        //     buyingFigurineImage.className = 'doubleFigurineImage';
        //     if(target.parentNode.children[1].children[0].textContent === 'Image') {
        //         buyingFigurineImage.style.cssText = 'border: 4px solid #8b0000; border-radius: 10px; flex-direction: column;';
        //         buyingFigurineImage.innerHTML = `<span>Image</span><span>Not</span><span>Available</span>`;
        //     } else {
        //     const buyingFigurineImageImg = document.createElement('img');
        //     buyingFigurineImageImg.src = target.parentNode.children[1].children[0].getAttribute('src');
        //     buyingFigurineImageImg.onerror = function() {
        //                 this.onerror = null;
        //                 this.parentNode.style.cssText = 'border: 4px solid #8b0000; border-radius: 10px; flex-direction: column;'
        //                 this.parentNode.innerHTML = `<span>Image</span><span>Not</span><span>Available</span>`;
        //             };
        //     buyingFigurineImageImg.alt = 'double figurine image';
        //     buyingFigurineImage.appendChild(buyingFigurineImageImg);
        //     }

            
        //     // buyingItem.innerHTML = `<div class="buyingItemName">${event.target.parentNode.children[0].textContent}</div><div class="buyingItemImage"><img src="${event.target.parentNode.children[1].children[0].src}" alt="buying item image"></div>`;
        //     buyingFigurineName.appendChild(buyingFigurineNameText);

        //     buyingFigurine.appendChild(buyingFigurineName);
        //     buyingFigurine.appendChild(buyingFigurineImage);

        //     buyingFigurinesList.appendChild(buyingFigurine);
        // }

        function addSellingItem(target){
            console.log('new selling item ' + target.parentNode.children[0].children[0].textContent);
            console.log(target.parentNode.children[1].children[0].src);
            console.log(target.parentNode.children[1])
            console.log(target.parentNode.children[1].children[0])
            
            target.parentNode.children[0].children[0].classList.toggle('disabled');
            target.parentNode.children[1].classList.toggle('disabled');
            target.parentNode.children[2].classList.toggle('disabled');
            target.removeAttribute('onclick');

            const sellingFigurinesList = document.querySelector('.sellingItemsList');
            const sellingFigurine = document.createElement('div');
            sellingFigurine.className = 'sellingItem';
            const sellingFigurineName = document.createElement('div');
            sellingFigurineName.className = 'doubleFigurineName';
            const sellingFigurineNameText = document.createElement('p');
            sellingFigurineNameText.textContent = `${target.parentNode.children[0].children[0].textContent}`;
            const sellingFigurineImage = document.createElement('div');
            sellingFigurineImage.className = 'doubleFigurineImage';
            if(target.parentNode.children[1].children[0].textContent === 'Image') {
                sellingFigurineImage.style.cssText = 'border: 4px solid #8b0000; border-radius: 10px; flex-direction: column;';
                sellingFigurineImage.innerHTML = `<span>Image</span><span>Not</span><span>Available</span>`;
            } else {
            const sellingFigurineImageImg = document.createElement('img');
            sellingFigurineImageImg.src = target.parentNode.children[1].children[0].getAttribute('src');
            sellingFigurineImageImg.onerror = function() {
                        this.onerror = null;
                        this.parentNode.style.cssText = 'border: 4px solid #8b0000; border-radius: 10px; flex-direction: column;'
                        this.parentNode.innerHTML = `<span>Image</span><span>Not</span><span>Available</span>`;
                    };
            sellingFigurineImageImg.alt = 'double figurine image';
            sellingFigurineImage.appendChild(sellingFigurineImageImg);
            }

            
            // sellingItem.innerHTML = `<div class="sellingItemName">${event.target.parentNode.children[0].textContent}</div><div class="sellingItemImage"><img src="${event.target.parentNode.children[1].children[0].src}" alt="selling item image"></div>`;
            sellingFigurineName.appendChild(sellingFigurineNameText);

            sellingFigurine.appendChild(sellingFigurineName);
            sellingFigurine.appendChild(sellingFigurineImage);

            sellingFigurinesList.appendChild(sellingFigurine);
        }



        // JavaScript to dynamically create offer elements and handle pagination
        const all_offers = <%- JSON.stringify(offers); %> ;
        console.log(all_offers);
        const elementsPerPageInput = document.getElementById('elementsPerPage');
        let currentPage = 1;
        const offersPerPage = parseInt(elementsPerPageInput.value);
        const totalPages = Math.ceil(all_offers.length / offersPerPage);

        // monitor elemtnts per page input change
        elementsPerPageInput.addEventListener('change', function() {
            const newElementsPerPage = parseInt(this.value);
                renderPage(currentPage, offersPerPage);
        });
        // monitor prev page change
        document.getElementById('prevPage').addEventListener('click', () => {
            if (currentPage > 1) {
                currentPage--;
                renderPage(currentPage, offersPerPage);
            }
        });
        
        // monitor next page change
        document.getElementById('nextPage').addEventListener('click', () => {
            if (currentPage < totalPages) {
                currentPage++;
                renderPage(currentPage, offersPerPage);
            }
        });



        function renderPage(pageNumber, elementsPerPage) {
            const offersContainer = document.querySelector('.offers-container');
            const startIndex = (currentPage - 1) * offersPerPage;
            const endIndex = startIndex + offersPerPage;
            const offersToDisplay = all_offers.slice(startIndex, endIndex);

            offersContainer.innerHTML = '';

            offersToDisplay.forEach(offer => {
                offersContainer.appendChild(createOfferElement(offer));
            });

            updateNavigationButtons();
        }

        function createOfferElement(offer) {
            const offerContainer = document.createElement('div');
            offerContainer.className = 'offerContainer';
            const offerHeader = document.createElement('div');
            offerHeader.className = 'offerHeader';
            const offerUser = document.createElement('p');
            offerUser.textContent = offer.username;
            offerHeader.appendChild(offerUser);
            // const offerNames = document.createElement('div');
            // offerNames.className = 'offerNames';
            const offerCentral = document.createElement('div');
            offerCentral.className = 'offerCentral';
            const offerRequesting = document.createElement('div');
            offerRequesting.className = 'offerRequesting';
            const offerSymbol = document.createElement('div');
            offerSymbol.className = 'offerSymbol';
            const offerOffering = document.createElement('div');
            offerOffering.className = 'offerOffering';
            const offerRequestingNames = document.createElement('div');
            offerRequestingNames.className = 'offerRequestingNames';
            const offerRequestingElements = document.createElement('div');
            offerRequestingElements.className = 'offerRequestingElements';
            const offerExchangeSymbolNames = document.createElement('div');
            offerExchangeSymbolNames.className = 'offerExchangeSymbolNames';
            const symbolIconNames = document.createElement('i');
            symbolIconNames.className = 'fa-duotone fa-solid fa-arrow-right-arrow-left'; // Using Font Awesome exchange icon
            symbolIconNames.style.width = '100%';
            symbolIconNames.style.height = 'auto';
            offerExchangeSymbolNames.appendChild(symbolIconNames);
            const offerExchangeSymbol = document.createElement('div');
            offerExchangeSymbol.className = 'offerExchangeSymbol';
            const symbolIcon = document.createElement('i');
            symbolIcon.className = 'fa-duotone fa-solid fa-arrow-right-arrow-left'; // Using Font Awesome exchange icon
            symbolIcon.style.width = '100%';
            symbolIcon.style.height = 'auto';
            offerExchangeSymbol.appendChild(symbolIcon);
            const offerOfferingNames = document.createElement('div');
            offerOfferingNames.className = 'offerOfferingNames';
            const offerOfferingElements = document.createElement('div');
            offerOfferingElements.className = 'offerOfferingElements';

            const offerFooter = document.createElement('div');
            offerFooter.className = 'offerFooter';
            const exchangeButton = document.createElement('a');
            exchangeButton.className = 'exchangeButton';
            exchangeButton.onclick = "exchange(this)";
            const exchangeButtonInternal= document.createElement('div');
            exchangeButtonInternal.className = 'exchangeButtonInternal';
            const exchangeButtonText = document.createElement('span')
            exchangeButtonText.textContent = 'Exchange';
            exchangeButtonInternal.appendChild(exchangeButtonText);
            exchangeButton.appendChild(exchangeButtonInternal);
            offerFooter.appendChild(exchangeButton);


            if(offer.requesting.points > 0) {
                const pointsNumber = document.createElement('span');
                pointsNumber.textContent = offer.requesting.points + ' points';
                pointsNumber.className = 'pointsNumber';

                const requestingPointsContainer = document.createElement('div');
                requestingPointsContainer.className = 'requestingPoints';

                const pointsCircle = document.createElement('div');
                pointsCircle.className = 'pointsCircle';

                const innerPointsCircle = document.createElement('div');
                innerPointsCircle.className = 'innerPointsCircle';

                const pointsValue = document.createElement('span');
                pointsValue.textContent = offer.requesting.points;

                innerPointsCircle.appendChild(pointsValue);
                pointsCircle.appendChild(innerPointsCircle);
                requestingPointsContainer.appendChild(pointsCircle);
                offerRequestingNames.appendChild(pointsNumber);
                offerRequestingElements.appendChild(requestingPointsContainer);
            }  else {
                offer.requesting.figurines.forEach(figurine => {
                    const figurineName = document.createElement('span');
                    figurineName.textContent = figurine.figurine_name;

                    if(figurine.figurine_image_path.endsWith('image_not_available')) {
                        const noImageDiv = document.createElement('div');
                        noImageDiv.style.cssText = "width: 115px; height: 152px; border-radius: 10px; border: 4px solid #b11616; display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center; font-size: 10px; line-height: 1.2; margin-bottom: 28px;";
                        noImageDiv.innerHTML = `<span style="font-size: medium; font-weight: bold">${figurine.figurine_name}</span><span>Image</span><span>Not</span><span>Available</span>`;
                        offerRequestingElements.appendChild(noImageDiv);
                        if(offer.requesting.figurines.indexOf(figurine) > 0){
                            noImageDiv.style.setProperty('margin-left', '20px');
                            const figurinePlus = document.createElement('span');
                            figurinePlus.textContent = '+';
                            offerRequestingNames.appendChild(figurinePlus);
                        }
                        offerRequestingNames.appendChild(figurineName);
                    }  else {
                        const figurineElement = document.createElement('div');
                        figurineElement.class = 'requestingFigurine';
                        figurineElement.style.cssText = 'width: 120px; height: 100%; display: flex; flex-direction: column; justify-content: flex-start; align-items: center; display: flex; flex-direction: column; justify-content: flex-start; align-items: center;';
                        const figurineImg = document.createElement('img');
                        figurineImg.className = 'requestingFigurineImg';
                        figurineImg.src = figurine.figurine_image_path + '/portrait_medium.' + figurine.figurine_ext;
                        figurineImg.onerror = function() {
                            this.onerror = null;
                            this.parentNode.innerHTML = `<div style="width: 100px; height: 150px; border: 2px solid #8b0000; border-radius: 10px; display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center; font-size: 10px; line-height: 1.2;"><span style="font-size: medium; font-weight: bold">${figurine.figurine_name}</span><span>Image</span><span>Not</span><span>Available</span></div>`;
                        };
                        if(offer.requesting.figurines.indexOf(figurine) > 0){
                            figurineElement.style.setProperty('margin-left', '20px');
                            const figurinePlus = document.createElement('span');
                            figurinePlus.textContent = '+';
                            offerRequestingNames.appendChild(figurinePlus);
                        }
                        offerRequestingNames.appendChild(figurineName);
                        figurineElement.appendChild(figurineImg);
                        offerRequestingElements.appendChild(figurineElement);
                    }

                });
            }

            if(offer.offering.points > 0) {
                const pointsNumber = document.createElement('span');
                pointsNumber.textContent = offer.offering.points + ' points';
                pointsNumber.className = 'pointsNumber';

                const offeringPointsContainer = document.createElement('div');
                offeringPointsContainer.className = 'offeringPoints';

                const pointsCircle = document.createElement('div');
                pointsCircle.className = 'pointsCircle';

                const innerPointsCircle = document.createElement('div');
                innerPointsCircle.className = 'innerPointsCircle';

                const pointsValue = document.createElement('span');
                pointsValue.textContent = offer.offering.points;
                pointsValue.style.cssText = 'font-size: 24px; color: #b11616; position: relative; z-index: 1;';

                innerPointsCircle.appendChild(pointsValue);
                pointsCircle.appendChild(innerPointsCircle);
                offeringPointsContainer.appendChild(pointsCircle);
                offerOfferingNames.appendChild(pointsNumber);
                offerOfferingElements.appendChild(offeringPointsContainer);
            } else {
                offer.offering.figurines.forEach(figurine => {
                    const figurineName = document.createElement('span');
                    figurineName.textContent = figurine.figurine_name;
                    if(figurine.figurine_image_path.endsWith('image_not_available')) {
                        const noImageDiv = document.createElement('div');
                        noImageDiv.style.cssText = "width: 115px; height: 152px; border-radius: 10px; border: 4px solid #b11616; display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center; font-size: 10px; line-height: 1.2; margin-bottom: 28px;";
                        noImageDiv.innerHTML = `<span style="font-size: medium; font-weight: bold">${figurine.figurine_name}</span><span>Image</span><span>Not</span><span>Available</span>`;
                        offerOfferingElements.appendChild(noImageDiv);
                        if(offer.offering.figurines.indexOf(figurine) > 0){
                            noImageDiv.style.setProperty('margin-left', '20px');
                            const figurinePlus = document.createElement('span');
                            figurinePlus.textContent = '+';
                            offerOfferingNames.appendChild(figurinePlus);
                        }
                        offerOfferingNames.appendChild(figurineName);
                    }  else {
                        const figurineElement = document.createElement('div');
                        figurineElement.class = 'offeringFigurine';
                        figurineElement.style.cssText = ' width: 120px; height: 100%; display: flex; flex-direction: column; justify-content: flex-start; align-items: center; display: flex; flex-direction: column; justify-content: flex-start; align-items: center;';
                        const figurineImg = document.createElement('img');
                        figurineImg.className = 'offeringFigurineImg';
                        figurineImg.src = figurine.figurine_image_path + '/portrait_medium.' + figurine.figurine_ext;
                        figurineImg.onerror = function() {
                            this.onerror = null;
                            this.parentNode.innerHTML = `<div style="width: 100px; height: 150px; border: 2px solid #8b0000; border-radius: 10px; display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center; font-size: 10px; line-height: 1.2;"><span style="font-size: medium; font-weight: bold">${figurine.figurine_name}</span><span>Image</span><span>Not</span><span>Available</span></div>`;
                        };
                        if(offer.offering.figurines.indexOf(figurine) > 0){
                            figurineElement.style.setProperty('margin-left', '20px');
                            const figurinePlus = document.createElement('span');
                            figurinePlus.textContent = '+';
                            figurinePlus.className = 'offeringFigurinePlus';
                            offerOfferingNames.appendChild(figurinePlus);
                        }
                        offerOfferingNames.appendChild(figurineName);
                        figurineElement.appendChild(figurineImg);
                        offerOfferingElements.appendChild(figurineElement);
                        }

                });

            }
        offerRequesting.appendChild(offerRequestingNames);
        offerRequesting.appendChild(offerRequestingElements);
        offerSymbol.appendChild(offerExchangeSymbolNames);
        offerSymbol.appendChild(offerExchangeSymbol);
        offerOffering.appendChild(offerOfferingNames);
        offerOffering.appendChild(offerOfferingElements);

        offerCentral.appendChild(offerRequesting);
        offerCentral.appendChild(offerSymbol);
        offerCentral.appendChild(offerOffering);

        offerContainer.appendChild(offerHeader);
        offerContainer.appendChild(offerCentral);
        offerContainer.appendChild(offerFooter);

        return offerContainer;

        }

        function updateNavigationButtons() {
            const prevButton = document.getElementById('prevPage');
            const nextButton = document.getElementById('nextPage');
            const pageNum = document.getElementById('pageNum')
            pageNum.innerHTML = 'Page ' + currentPage;

            prevButton.classList.toggle('disabled', currentPage === 1);
            nextButton.classList.toggle('disabled', currentPage === totalPages);
        }

        renderPage(currentPage, offersPerPage);
        /*
        function createOfferElement(offerData) {
            const offerElement = document.createElement('div');
            offerElement.className = 'offer';
            offerElement.textContent = `Offer ${offerData.id}`;
            return offerElement;
        }

        function loadOffers(page) {
            const offersContainer = document.getElementById('offersContainer');
            offersContainer.innerHTML = '';

            // Simulating fetching data from a server
            const startIndex = (page - 1) * offersPerPage;
            const endIndex = startIndex + offersPerPage;

            for (let i = startIndex; i < endIndex; i++) {
                const offerData = { id: i + 1 };
                const offerElement = createOfferElement(offerData);
                offersContainer.appendChild(offerElement);
            }
            updateNavigationButtons()
        }
        */

    </script>
</body>
</html>
