<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marketplace</title>
    <link rel="stylesheet" href="/views/css/marketplace.css">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

</head>
<body>
    <div class="header">
        <% if(!user) { %>
        <div></div>
        <% } else { %>
            <a class="create-offer-btn" onclick="createNewOffer()" >
                <div class="create-offer-btn-content">
                    <i>Create Offer</i>
                </div>
            </a>
        <% } %>
        <h1>Marketplace</h1>
        <a href="/account/dashboard" class="favicon">
            <i class="fas fa fa-user-circle"></i>
        </a>
    </div>
    <div class="main-content">
        <div class="offers-container">
            <!-- Offer elements will be dynamically added here -->
        </div>
        <div class="pagination-controls">
            <div class="paging-numerator">
                <span style=" color: #b11616; font-weight: bold; margin-right: 40px; width:10%;">offers</span>
                <select id="elementsPerPage" style="background-color: transparent; border: 1px solid #b11616; color: #b11616;">
                    <option value="10">10</option>
                    <option value="15">20</option>
                    <option value="20">30</option>
                    <option value="25">40</option>
                    <option value="25">50</option>
                </select>
            </div>
            <div class="pagination">
                <div class="pageSlider" style="display: flex; ;">
                    <span id="prevPage">←</span>
                    <span id="pageNum"></span>
                    <span id="nextPage">→</span>
            </div>
        </div>
    </div>
    <div class="modalNewOffer">
        <div class="modalNewOfferContent">
            <div class="NewOfferMain">
                <div class="figurinesChoiche">
                    <div class="mainFigurinesChoiche">
                        <a id="closeNewofferMenu" >
                            <i onclick="closeNewOfferMenu()" style="color: #ffffff;">&times;</i>
                        </a>
                        <input type="text" id="search-input" placeholder="&#128269; Enter figurine name">
                    </div>
                    <div id="suggestions"></div>
                </div>
                <div class="figurinesList">
                    <!-- Dynamically filled by JS script -->
                </div>
                <div class="exchangedItems">
                    <div class="buyingItems">
                        <header>
                            <div class="addPoints">
                                <span>points</span>
                                <input type="text" inputmode="numeric" pattern="[0-9]*">
                                <a href="#" onclick="addPoints(this)"><i class="fa-solid fa-plus"></i></a>
                            </div>
                            <p>Buying</p>
                            <i class="fa-solid fa-arrow-left"></i>
                        </header>
                        <div class="buyingItemsList">
                        <!-- Dynamically filled by JS script -->
                        </div>
                    </div>
                    <div class="exhangeSeprator"></div>
                    <div class="sellingItems">
                        <header>
                            <i class="fa-solid fa-arrow-right"></i>
                            <p>Selling</p>
                            <div class="addPoints">
                                <span>points</span>
                                <input type="text" inputmode="numeric" pattern="[0-9]*">
                                <a href="#" onclick="addPoints(this)"><i class="fa-solid fa-plus"></i></a>
                            </div>
                        </header>
                        <div class="sellingItemsList">
                            <!-- Dynamically filled by JS script -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="NewOfferFooter">
                <a href="#" onclick="confirmNewOffer()">
                    <div>
                        <i>CREATE</i>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <% if(messages.errors) { %>
        <script>
            const Errors = <%- JSON.stringify(messages.errors) %>;
            alert(Errors[0].msg);
        </script>
    <% } %>


    <script>   
    
    const all_offers = <%- JSON.stringify(offers); %> ;
    const user_offers = <%- JSON.stringify(user_offers); %> ;
    const userDoublesFigurines = <%- JSON.stringify(user_doublefigurines); %> ;

    </script>

    <script src="/views/js/marketplace.js"></script>
    </script>
</body>
</html>
